
{% extends "layout.njk" %}
{% block content %}
<div id="wrapper" class="direction-ltr govuk-width-container">    
<div class="gem-c-contextual-breadcrumbs">
  <div data-module="gem-track-click ga4-link-tracker" class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
    <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;1&quot;}" class="govuk-breadcrumbs__link" href="/">Home</a>
          </li>
    </ol>
  </div>
</div>
<main role="main" id="content" class="help-page" lang="en">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <h1 class="gem-c-title__text govuk-heading-xl">
    Accessibility statement
  </h1>
</div>
</div>
</div>
</main>
</div>
  {% endblock %}