{% extends "govuk-frontend/template.njk" %}
{% from "govuk-frontend/components/button/macro.njk" import govukButton -%}
{% from "govuk-frontend/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% block pageTitle %}
Gov UK Air  Quality Beta Starter
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/govuk-frontend.min.css">
  <link rel="stylesheet" href="/assets/main.css">
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "BETA"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {% if displayBreadcrumbs %}
    {{ govukBreadcrumbs({
      items: [{
        href: "https://www.gov.uk",
        text: "Home"
      }, {
        href: "https://www.gov.uk/environment",
        text: "Environment"
      }, {
        href: "https://www.gov.uk/environment/pollution-and-environmental-quality",
        text: "Pollution and environmental quality"
      }]
    }) }}
  {% endif %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>check air quality in a local area</li>
        <li>find information on air pollutants</li>
       <!-- That this is not required for the MVP <li>access the local authority website to find out what is being done to improve air quality</li> -->
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "search-location",
        isStartButton: true
      }) }}
    </div>
  </div>
     <script src="/assets/jquery-3.6.0.min.js"></script>
     <script type="module" src="/assets/govuk-frontend.min.js"></script>
    <script type="module">
          import { initAll } from '/assets/govuk-frontend.min.js';
          initAll();
    </script>
    
{% endblock %}
{% block footer %}
    {{ govukFooter({
        meta: {
            items: [{
                href: privacyPolicyUrl,
                text: 'Privacy'
            }, {
                href: '/help/cookies',
                text: 'Cookies'
            }, {
                href: '/help/accessibility-statement',
                text: 'Accessibility Statement'
            }, {
                href: '/help/terms-and-conditions',
                text: 'Terms and Conditions'
            }]
        }
    }) }}
{% endblock %}