{% extends "layout.njk" %}
{% from "govuk-frontend/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk-frontend/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% extends "layouts/location-template.njk" %}
{% from "govuk-frontend/components/table/macro.njk" import govukTable -%}
{% from "govuk-frontend/components/inset-text/macro.njk" import govukInsetText -%}
{% from "govuk-frontend/components/details/macro.njk" import govukDetails -%}
{% from "components/pollutant/macro.njk" import appPollutant %}
{% from "components/toggletip/macro.njk" import toggletip %}
{% from "components/aq-levels-table/macro.njk" import aqLevelsTable %}


{% set caption = "" %}
{% set title = result.GAZETTEER_ENTRY.NAME1 + ", " + (result.GAZETTEER_ENTRY.COUNTY_UNITARY if result.GAZETTEER_ENTRY.COUNTY_UNITARY else result.GAZETTEER_ENTRY.DISTRICT_BOROUGH) %}

{% set pageHeadingSize = pageHeadingSize or "xl" %}

{% if onlyShowTwoPages == "Yes" %}
{% block content %}
<div><h1 class="govuk-body" style="color:red;">COMING SOON...</h1></div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
      <h1 class="govuk-heading-{{ pageHeadingSize }}">
{% if caption %}
        <span class="govuk-caption-{{ pageHeadingSize }}">{{ caption }}</span>
        {% endif %}
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    {# <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full govuk-!-margin-bottom-9">
      {% include "includes/daqi.njk" %}
      {% if airQuality.value >= 1 and airQuality.value <= 3 %}
          <h2 class="govuk-heading-m">Advice for {{ airQuality.readableBand }} levels of air pollution</h2>
          <p>{{ airQuality.advice }}</p>
      {% elseif airQuality.value >= 4 %}
          <h2 class="govuk-heading-m">Advice for {{ airQuality.readableBand }} levels of air pollution</h2>
          {% set adultsText %}
            {{ (airQuality.atrisk.adults) }}
          {% endset %}
          {% set asthmaText %}
            {{ (airQuality.atrisk.asthma) }}
          {% endset %}
          {% set oldPeopleText %}
          {{ (airQuality.atrisk.oldPeople) }}
          {% endset %}
          {{ govukInsetText({
            html: 
              "<p>" + adultsText + "</p>" + 
              "<p>" + asthmaText + "</p>" +
              "<p>" + oldPeopleText + "</p>" 
          }) }}
          <p>{{ airQuality.advice }}</p>
      {% endif %}    
      {% include "includes/daqi-index.njk" %}
      <h2 class="govuk-heading-m">UK air pollution summary</h2>
      <p class="govuk-!-margin-bottom-6">
        {{ airQuality.outlook }}
      </p>
      <p class="govuk-caption-s govuk-!-margin-bottom-4">Latest at 05:00am {{ "today" | govukDate }}</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">How air pollutants can affect your health</h2>
      {% include "includes/pollutants.njk" %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">
      <h2 class="govuk-heading-m">Air pollutants monitored near by</h2>
      {% include "includes/monitoring-sites.html" %}
    </div> #}
  </div>
{% endblock %}
{% endif %}