{% extends "layout.njk" %}
{% from "components/search/macro.njk" import appSearch %}
{% set displayBreadcrumbs = false %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

{% from "govuk-frontend/components/error-summary/macro.njk" import govukErrorSummary %}
 {% if errors %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
{{ govukErrorSummary(errors) }}
  </div>
</div>
 {% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="/location" method="post">
      {{ appSearch(searchParams) }}
      <!-- Hidden input to pass the air quality value -->
      <input type="hidden" name="aq" value="{{ airQuality.value }}" />
  </form>
  </div>
</div>
{% endblock %}